{
  "telegram_config": {
    "enabled": true,
    "api_id": "",
    "api_hash": "",
    "bot_token": ":",
    "chat_id": [
      ""
    ],
    "session_name": "MsgBot",
    "connection_retries": 3,
    "retry_delay": 5,
    "flood_sleep_threshold": 60,
    "auto_reconnect": true,
    "timeout": 30,
    "intervals": {
      "tg_msg_retry_interval": 3,
      "tg_msg_retry_times": 5,
      "tg_connect_timeout": 30,
      "tg_auto_reconnect": true,
      "tg_max_reconnect_attempts": 5,
      "tg_reconnect_delay": 10
    }
  }
}
